<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="{{ url_for('static', filename='assets/logos/{}.jpg'.format(card.brand))}}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
            
                <!-- Product name-->
                <h5 class="fw-bolder"><a href='{{url_for("details", item_id=card.id)}}'
                        style="text-decoration:none">{{card.number}}
                    </a></h5>
                <!-- Product price-->
                {{card.model}}
                <br>
                {{card.description}}
                <br>
                {{card.price}} €
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <form action="{{ url_for('add_to_cart') }}" method="POST">
                <input type="hidden" name="item_id" value="{{ card.id }}">
                <input type="hidden" name="item_price" value="{{ card.price }}">
                <input type="hidden" name="item_number" value="{{ card.number }}">
                <input type="hidden" name="item_description" value="{{ card.description }}">
                <div class="text-center"><button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button>
                </div>
            </form>
        </div>
    </div>
</div>