{% extends 'base.html' %}
{% block title %}Success!{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Payment Successful!</h1>
      <p>Thank you for your payment. Your transaction has been completed successfully and we will get in touch soon!</p>
      <button type="button" class="btn btn-primary"><a href="{{url_for('contact')}}" style="color:white;text-decoration:none;">Contact Us</a></button>
    </div>
  </div>
</div>
{% endblock %}